* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Turret Road', cursive;
    overflow-y: hidden;
}

.images {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    filter: blur(6px);
}

