@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Baloo 2', cursive;
    overflow-Y: hidden;
}


/* UP */
section.up {
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #00c6ff, #0072ff);
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);

}

section.up h1 {
    color: white;
    margin-top: -0.5em;
    font-size: 3em;
}

section.up img {
    margin-top: -1.5em;
    margin-right: -3em;
    height: 10em;
    width: 10em;
}


/* Middle */
section.middle {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -3em;
    
}

section.middle h1 {
    color: white;
}

.images {
    width: 100%;
    height: 95vh;
    filter: blur(4px);
}





/* OTHERS */
@keyframes content_reveal {
    from{
      opacity: 0;
    } 
    to {
      opacity: 1
    }
  }
  
  body, html{
    animation: content_reveal 0.8s ease;
  }